@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family:  var(--font-poppins),  sans-serif;

}

@keyframes slide {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

.animate-slide {
  animation: slide 4s linear infinite;
}
